.notifications{
  position: relative;
  display: inline-block;
  text-align: left;
  --transition-speed: 0.25s;

  .notification-list {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-block: 0.5rem;
    border-radius: 8px;
    display: none;
    width: 300px;
    max-height: 600px;
    overflow-y: auto;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    //display: none;
    z-index: 100;
    transition: opacity var(--transition-speed) ease,
    transform var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 20px;
    }
  }

  .notification-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-inline: 1.5rem;
  }

  .notification-item {
    padding-inline: 1.2rem;
    padding-block: 1rem;
    margin-inline: 0.5rem;
    margin-block: 0.25rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &.highlight {
      background: rgba(37, 39, 38, 0.50);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.75);
    }
  }

  .notification-message {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .notification-data {
    font-size: 0.7rem;
    color: #b0b0b0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  .notification-title {
    color: var(--light-green);
  }

  p {
    margin: 0;
  }
}


