:root {
  --collapsible-primary-color: #3498db;
  --collapsible-secondary-color: #2c3e50;
  --collapsible-background-color: #ecf0f1;
  --collapsible-text-color: #333;
  --collapsible-border-color: #bdc3c7;
  --collapsible-transition-duration: 0.3s;
}

.collapsible-container {
  background-color: var(--collapsible-background-color);
  border: 1px solid var(--collapsible-border-color);
  border-radius: 4px;
  margin-bottom: 10px;
  // overflow: hidden;

  .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--collapsible-primary-color);
    color: white;
    cursor: pointer;
    transition: background-color var(--collapsible-transition-duration);

    .collapsible-title {
      font-size: 18px;
      font-weight: bold;
    }
    .collapsible-button {
      background: none;
      border: none;
      color: white;
      font-size: 20px;
      cursor: pointer;
      transition: transform var(--collapsible-transition-duration);
    }

    .collapsible-button:focus {
      outline: none;
    }
  }
  .collapsible-header:hover {
    background-color: color-mix(in srgb, var(--collapsible-primary-color) 90%, black);
  }
}

.collapsible-table-header {
  display: flex;
  background-color: var(--collapsible-secondary-color);
  color: white;
  font-weight: bold;
}

.collapsible-table-header-cell {
  flex: 1;
  padding: 10px 15px;
  border-right: 1px solid var(--collapsible-border-color);
}

.collapsible-table-header-cell:last-child {
  border-right: none;
}

.collapsible-content {
  background-color: white;
  transition: max-height var(--collapsible-transition-duration);
  max-height: 0;
  flex-direction: column;
  // overflow: hidden;
}

.collapsible-row {
  display: flex;
  border-bottom: 1px solid var(--collapsible-border-color);
}

.collapsible-row:last-child {
  border-bottom: none;
}

.collapsible-cell {
  flex: 1;
  padding: 10px 15px;
  border-right: 1px solid var(--collapsible-border-color);
}

.collapsible-cell:last-child {
  border-right: none;
}

/* Open state */
.collapsible-container.open .collapsible-button {
  transform: rotate(180deg);
}

.collapsible-container.open .collapsible-content {
  max-height: 1000px; /* Adjust this value based on your content */
}
