* {
  box-sizing: border-box;
  --navbar-height: 4rem;
  --sidebar-width: 12rem;
}
html {
  margin: 0;
  padding: 0;
  body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #c4e6ff;
    --background-primary: #252726;
    --background-secondary: #1a1a1a;

    --color-primary: white;

    font-family: 'Montserrat', sans-serif;
  }
}

#navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 1rem 0;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
}

#sidebar {
  // flex: 0 0 20%;
  background-color: #6b6969;
  height: 100%;
  // padding: 20px;
  overflow-y: auto;
  width: var(--sidebar-width);
}

#content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
