@import 'variables.scss';
@import 'Login.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  --navbar-height: 4rem;
  --sidebar-width: 12rem;
}

html {
  margin: 0;
  padding: 0;
  body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    --background-primary: #252726;
    --background-secondary: #1a1a1a;
    --nav-bar-background: #131313;
    --color-primary: white;
    --light-green: #86ebd9;
    font-family: 'Montserrat', sans-serif;
  }
}

#navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--nav-bar-background);
  color: white;
  padding: 1rem 0;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    button {
      outline: none;
      color: white;
      border: none;
      font-size: 0.9rem;
      background-color: var(--nav-bar-background);
    }
  }
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
}

#sidebar {
  // flex: 0 0 20%;
  background-color: #6b6969;
  height: 100%;
  // padding: 20px;
  overflow-y: auto;
  width: var(--sidebar-width);
}

#content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  min-height: calc(100vh - var(--navbar-height));
  background-color: var(--background-primary);
  color: var(--color-primary);
  position: relative;
}

.spaced-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 20px 30px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 10px;
  resize: vertical;
  background-color: $input-field-bg;
}

button {
  background-color: $light-green;
  color: $dark-gray;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.icon-button {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.button-secondary {
  background-color: var(--background-primary);
  color: var(--color-primary);
  border-radius: 0.5rem;
  border: 2px solid var(--light-gray, #E4DEE0);
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}