$fa-font-path: './webfonts';

@import './fontawesome/fontawesome.scss';
@import './fontawesome/solid.scss';
@import './fontawesome/brands.scss';

$light-green-linear: linear-gradient(to right, #52D29C, #30404D);
$dark-green: #006C59;
$light-green: #86EBD9;
$light-gray: #E4DEE0;
$dark-green-linear: linear-gradient(to right, #00473A, #000909);
$green-grey: #30404D;
$dark-gray: #252726;
$input-field-bg: #1A1A1A;