// variables.scss

:root {
    --primary-button-background-color: #86EBD9;
    --primary-button-text-color: #000000;
    --primary-button-hover-background-color: #86EBD9;
    --primary-button-active-background-color: #004085;
  
    --secondary-button-background-color: #006C59;
    --secondary-button-text-color: #ffffff;
    --secondary-button-hover-background-color: #5a6268;
    --secondary-button-active-background-color: #4e555b;
  
    --alt-button-background-color: #28a745;
    --alt-button-text-color: #ffffff;
    --alt-button-hover-background-color: #218838;
    --alt-button-active-background-color: #1e7e34;
  
    --button-hover-box-shadow-color: rgba(0, 0, 0, 0.2);
    --button-active-box-shadow-color: rgba(0, 0, 0, 0.15);
  }
  