.terms-and-conditions {
  .title {
    text-align: center;
  }
  .policies {
    margin-top: 3rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: flex-start;
  }

  .agreement-link {
    text-align: left;
    margin: 0;
    padding-left: 3rem;
  }
}
