.checkbox {
  label {
    margin-left: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    input[type='checkbox'] {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid var(--color-primary);
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      position: relative;
      margin: 0;
      transition: all 0.2s ease;

      &:checked {
        background-color: var(--dark-green);
        border-color: var(--dark-green);
      }

      &:checked::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 1px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &:hover {
        border-color: var(--dark-green);
      }

    }
  }
}