.checkbox {
  label {
    margin-left: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: space-between;
    align-items: center;
    width: 100%;

    input[type='checkbox'] {
      appearance: none; // Hide the default checkbox
      width: 20px;
      height: 20px;
      border: 2px solid var(--color-primary);
      border-radius: 5px;
      background-color: white;
      cursor: pointer;
      padding: 0;
      position: relative;
      left: 0;

      &:checked::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--color-primary);
        border-radius: 3px;
        transform: translate(-50%, -50%);
      }

      &:checked::after {
        content: '';
        position: absolute;
        left: 4px;
        width: 6px;
        height: 12px;
        border: solid black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.5);
      }
    }
  }
}
