$sidebar-bg: #131313;

.side-bar {
  width: var(-sidebar-width);
  padding-top: 1rem;
  color: var(--color-primary);
  transition: transform 0.3s ease-in-out;

  .toggle-btn {
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: darken($sidebar-bg, 5%);
    }
  }

  .sidebar-nav {
    padding: 20px 0 0 2rem;

    .nav-btn {
      margin-bottom: 0.5rem;
      display: block;
      width: 100%;
      padding: 10px 20px;
      background: none;
      border: none;
      color: var(--color-primary);
      text-align: left;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken($sidebar-bg, 5%);
      }

      &.active {
        box-shadow: -2px 0 0 0 white;
        font-weight: bold;
      }
    }
  }
}
