:root {
  --table-secondary-color: #2c3e50;
  --table-background-color: #ecf0f1;
  --table-text-color: #333;
  --table-border-color: #bdc3c7;
  --table-transition-duration: 0.3s;
}
.table {
  background-color: var(--background-primary);
  border-radius: 1rem;
  margin-bottom: 10px;

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.3rem;
    border-bottom: 1px white solid;
    color: white;
    cursor: pointer;
    transition: background-color var(--table-transition-duration);
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--light-green);
    font-weight: bold;
    .table-header-cell {
      flex: 1;
      padding: 10px 15px;
    }
  }
  a.table-row-link {
    text-decoration: none;
  }
  .table-row {
    display: flex;
    border-bottom: 1px solid var(--color-primary);
    text-decoration: none;
    &:hover {
      background-color: var(--background-secondary);
    }
  }

  .table-cell {
    color: var(--color-primary);
    flex: 1;
    padding: 10px 15px;
  }
}
