.overview.lead {
  .label {
    font-weight: 600;
  }

  .info {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    .info-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 50%;

      a {
        color: var(--light-green);
      }
    }
  }
}
