.dashboard.projectLead {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .earnings-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 80%;
  }

  .earning-box {
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin: 0 0.5rem;
    color: #fff; /* Ensure text color is visible */
  }

  // .earning-box h3 {
  //   color: #1b8d64;
  // }

  .tables {
    margin-bottom: 2rem;
    width: 80%;
  }

  .filter-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.2rem 1rem;
  }

  .invitation-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }

  .invitation-table th,
  .invitation-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center; /* Aligns table headers and cells to the middle */
  }

  .accept-btn {
    background-color: #1b8d64;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }

  .accept-btn:hover {
    background-color: #136b4e;
  }

  .projects-table {
    margin-top: 2rem;
  }

  .accept-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .accept-button:hover {
    background-color: #45a049;
  }
}