.multistep-form {
  .personal-details {
    display: flex;
    flex-direction: column;
    // gap: 10px;

    .title {
      text-align: center;
    }

    .dob {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .dob-fields {
        display: flex;
        gap: 10px;
      }
    }

    // .form-field {
    //   gap: 10px;
    //   &.text-field-container {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 20px;
    //   }
    // }
  }
}
