button.button-component {
  border-radius: 0.5rem;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  border-style: solid;
  border-width: 1px;

  &.icon-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  &.button-primary {
    background-color: var(--light-green);
    color: var(--dark-gray);
    //border-color: var(--light-gray);
  }
  &.button-secondary {
    background-color: rgb(0, 0, 0, 0);
    color: var(--color-primary);
    border: 2px solid;
    border-color: var(--color-primary);

  }
  &.button-tertiary{
    background-color: #d94338;
    color: white;
    border: none;
  }
}

// .button-component {
//   padding: 8px 15px;
//   margin: 10px;
//   border: 1px solid transparent;
//   border-radius: 10px;
//   font-size: 16px;
//   cursor: pointer;
//   box-shadow: 1px 1px 0px #888888;
//   font-family: 'Montserrat';

//   &.button-secondary {
//     background-color: var(--secondary-button-background-color);
//     color: var(--secondary-button-text-color);

//     &:hover {
//       background-color: var(--secondary-button-hover-background-color);
//       box-shadow: 0 4px 6px var(--button-hover-box-shadow-color);
//     }

//     &:active {
//       background-color: var(--secondary-button-active-background-color);
//       box-shadow: 0 2px 4px var(--button-active-box-shadow-color);
//     }
//   }

//   &.button-primary {
//     background-color: var(--primary-button-background-color);
//     color: var(--primary-button-text-color);

//     &:hover {
//       background-color: var(--primary-button-hover-background-color);
//       box-shadow: 0 4px 6px var(--button-hover-box-shadow-color);
//     }

//     &:active {
//       background-color: var(--primary-button-active-background-color);
//       box-shadow: 0 2px 4px var(--button-active-box-shadow-color);
//     }
//   }

//   &.button-alt {
//     background-color: var(--alt-button-background-color);
//     color: var(--alt-button-text-color);
//     border: 1px solid var(--primary-button-text-bordercolor);

//     &:hover {
//       background-color: var(--alt-button-hover-background-color);
//       box-shadow: 0 4px 6px var(--button-hover-box-shadow-color);
//     }

//     &:active {
//       background-color: var(--alt-button-active-background-color);
//       box-shadow: 0 2px 4px var(--button-active-box-shadow-color);
//     }
//   }
// }
