.hacker-dashboard{
  padding: 2rem;
  max-width: 75rem;
  margin-inline: auto;
  margin-top: 8rem;
  .summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem
  }

  .card {
    gap: 0npm run start;
    width: fit-content;
  }
}