.parent-element {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  .tag-input-label {
    padding: 2rem 0rem 1rem 1rem;
    min-width: 8rem;
    width: 8rem;
  }
  .tag-input-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    position: relative;
    padding: 20px 30px;
    margin: 5px 0;
    border: none;
    caret-color: transparent;

    // border-radius: 10px;
    // resize: vertical;
    background-color: var(--input-field-bg);
    color: var(--light-gray);

    .tags-container {
      display: flex;
      flex-wrap: wrap;

      .tag {
        background-color: var(--light-grey);
        color: white;
        padding: 5px 10px;
        margin: 3px;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;

        span {
          margin-right: 5px;
        }

        .remove-tag {
          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    .tag-input-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      caret-color: transparent;

      .tag-input {
        max-width: 15rem;
        caret-color: #e9e9e9;
        &:focus,
        &:hover {
          outline: none;
          // box-shadow: none;
        }
      }

      .autocomplete-items {
        position: absolute;
        background-color: var(--background-secondary);
        // border: 1px solid #ccc;
        z-index: 100;
        max-height: 150px;
        overflow-y: auto;
        width: 400px;
        margin-top: 5px;

        .autocomplete-item {
          padding: 8px;
          cursor: pointer;

          &:hover {
            box-shadow: inset 1px 0 0 0 var(--color-primary);
          }
        }
      }
    }
  }
}
