.hacker-dashboard{
  padding: 2rem;
  max-width: 75rem;
  margin: auto;
  .summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    .req-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      button {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
    }

  }

  .card {
    gap: 0npm run start;

    .card-content{
      height: 100%;
    }
  }
}